* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("images/backgroundimage.jpg");
    background-size: cover;
}

.container {
    position: relative;
    width: 400px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    transition: height 0.6s ease;
}

.search {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    border-radius: 10px;
    align-items: center;
}

.search input {
    position: absolute;
    width: 80%;
    height: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
    padding: 0 48px 0 42px;
}

.search input::placeholder {
    color: #fff;
    text-transform: capitalize;
}

.search button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: #fff;
    padding: 0 40px 0 5px;
}

.checkweather {
    text-align: center;
    margin: 40px 0;
}

.weather,
.weather-details,
.not-found {
    overflow: hidden;
    visibility: hidden;
}

.weather.active,
.weather-details.active,
.not-found.active {
    visibility: visible;
}

.weather .box,
.not-found .box{
    transform: translateY(-100%);
}

.weather.active .box,
.not-found.active .box{
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: -6s;
}

.checkweather img {
    width: 60%;
}

.checkweather .temperature {
    position: relative;
    font-size: 50px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
}

.checkweather .temperature span {
    position: absolute;
    font-size: 30px;
    margin-left: 1px;
}

.checkweather .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 20px;
}

.weather-details {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    transform:translateY(100%);
}

.weather-details.active .humidity,
.weather-details.active .wind {
    transform:translateY(0%);
    transition:transform 1s ease;
    transition-delay: 0.2s;
}

.weather-details .humidity {
    justify-content: flex-start;
    padding-left: 20px;
}

.weather-details .wind {
    justify-content: flex-end;
    padding-left: 20px;
}

.weather-details i {
    font-size: 56px;
    margin-right: 10px;
}

.weather-details span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p {
    font-size: 14px;
    font-weight: 500;
}

.not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.not-found img {
    width: 65%;
}

.not-found p {
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}